*{
    margin: 0;
    padding: 0;

}
body{
    font-family: tahoma;
}
#heading {
    text-align: center;
    margin-top: 40px;
}
#container{
    margin: 15px auto 0 auto;
    width: 80%;
    text-align: center;
    background-color: cadetblue;
    border-radius: 10%;
    padding: 20px;
}
.input-div{
    display:inline-block;
}
.inpt{
padding: 5px 10px;
margin: 10px;
font-size: 30px;
font-weight: bold;
width: 300px;
text-align: center;
}
label{
    font-size: 20px;
}